.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.bg-color {
  background-color: #282c34;
  height: 100vh;
  width: 100%;
}

.fixed-top {
  position: fixed;
}

.link {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}


.link-active {
  text-decoration: none;
  color: #61dafb;
  font-weight: bold;
  border-bottom: #61dafb solid 2px;
}

.link-mobile {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
}

.menu-icon {
  font-size: 35px !important;
  margin-left: 12rem;
}

.pdp {
  border-radius: 50%;
  border: #61dafb double 8px;
  /* border: yellow double 8px; */
}

.pdp:hover{
  cursor: pointer;
}

.container {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.container-page {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* css competence */

.line-box{
  padding : 2px;
  width : 250px;
  height: 8px;
  border : 2px solid #267591;
  border-radius: 20px;
}

.line {
  height: 8px;
  border-radius: 20px;
  background-color: yellow;
  animation: loading 2s forwards cubic-bezier(0,0,0,0);
}

.line-50 {
  height: 8px;
  border-radius: 20px;
  background-color: yellow;
  animation: loading-50 2s forwards cubic-bezier(0,0,0,0);
}

.line-70 {
  height: 8px;
  border-radius: 20px;
  background-color: yellow;
  animation: loading-70 2s forwards cubic-bezier(0,0,0,0);
}

.line-80 {
  height: 8px;
  border-radius: 20px;
  background-color: yellow;
  animation: loading-80 2s forwards cubic-bezier(0,0,0,0);
}

.line-30 {
  height: 8px;
  border-radius: 20px;
  background-color: yellow;
  animation: loading-30 2s forwards cubic-bezier(0,0,0,0);
}

p {
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  margin-bottom: -0.2px;
  padding-left: 4px;
}

.list {
  margin-top: -8px;
}

@keyframes loading {
  0% {
      width : 0%;
  }
  100% {
      width: 90%;
  }
}

@keyframes loading-50 {
  0% {
      width : 0%;
  }
  100% {
      width: 50%;
  }
}

@keyframes loading-70 {
  0% {
      width : 0%;
  }
  100% {
      width: 70%;
  }
}

@keyframes loading-80 {
  0% {
      width : 0%;
  }
  100% {
      width: 80%;
  }
}

@keyframes loading-30 {
  0% {
      width : 0%;
  }
  100% {
      width: 30%;
  }
}

/* fin css competence */

.card-contact {
  padding: 0.5rem;
}

.card-content {
  border: #61dafb solid 2px;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
  min-height: 150px !important;
}

.card-content:hover {
  border: #ffff00 solid 2px;
}

.card-contact:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.7s ease-in-out;
}

.grid-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;

  padding: 0 0.5rem;
}

.typography {
  font-family: 'Times New Roman', sans-serif;
  color: #61dafb;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

.typography-white {
  font-family: 'Times New Roman', sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 500;
  text-align: justify;
}

@media screen and (max-width : 768px) {
  .bg-color {
    background-color: #282c34;
    height: 270vh;
    width: 100%;
  }
}
@media screen and (max-width : 425px) {
  .bg-color {
    background-color: #282c34;
    height: 260vh;
    width: 100%;
  }
  .flex-align-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: antiquewhite;
  }
  .line-box{
    width : 250px;
  }
}
@media screen and (max-width : 375px) {
  .bg-color {
    background-color: #282c34;
    height: 260vh;
    width: 100%;
  }
  .flex-align-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: antiquewhite;
  }
  .menu-icon {
    font-size: 35px !important;
    margin-left: 10rem;
  }
  .line-box{
    width : 250px;
  }
}
@media screen and (max-width : 320px) {
  .bg-color {
    background-color: #282c34;
    height: 300vh;
    width: 100%;
  }
  .flex-align-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: antiquewhite;
  }
  .menu-icon {
    font-size: 35px !important;
    margin-left: 6rem;
  }
  .line-box{
    width : 250px;
  }
}

.flex-align-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: antiquewhite;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  margin-bottom: 10px;
}

.cool-link {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #61dafb;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  /* transition: width .3s; */
}
